*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.section_two{
    max-width: 100%;
    height: 100vh;
    background-color: rgb(253, 250, 246);
    background-image: url(./assets/img/2-2-923x1200.jpg);
    background-position: 26rem -20rem;background-size: 100%;
    background-repeat: no-repeat;
}

.section_two_writeup{

    max-width: 52%;
    margin-left: 25px;
    padding-top: 150px;
}

.section_two_writeup>h2 {
    margin-bottom: 0;
}
.section_two_writeup>p{

    font-weight: 300;
    font-size: .9rem;
    padding-top: 20px;
}
hr{
    border: 1.5px solid rgb(230, 70, 52);
    width: 9rem;
    margin: 0;
    
}

.partners{
    margin: 150px 0 150px 0 ;
}

.partners_section0{
    /* background-color: red; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners>h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0;
}
.line1{
    border: 1.5px solid rgb(230, 70, 52);
    width: 9rem; 
}

.line2 {
    border: 1px solid rgb(230, 70, 52);
    width: 21rem;
    margin: 0 auto;
}

.partners_writeup{
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    padding: 3rem 3rem 2rem 3rem;

}

.btn1{
    display: block;
    border: 1px solid rgb(230, 70, 52);;
    color: rgb(230, 70, 52);
    background-color: rgb(254, 250, 245);
    border-radius: 2rem;
    max-width: 15rem;
    padding: 1rem 2rem;
    margin: 0 auto;
}



.partners_section1,
.partners_section2,
.partners_section3,
.partners_section4
{
    /* max-width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.partners_section_sub_heading {
    color: rgb(230, 70, 52);
    padding-top: 50px;
    font-size: 20px;
}

.partners_section_writeup{
    text-align: center;
    /* padding-top: 20px; */
    margin: 0 3rem 0 3rem;
    font-size: 20px;

    /* margin: 0 auto; */
}

.partners_section1>img,
.partners_section2>img,
.partners_section3>img,
.partners_section4>img{
    max-width: 25%;
}


@media (min-width:900px) {
    .section_two {
        max-width: 100%;
        height: 100vh;
        background-color: rgb(253, 250, 246);
        background-image: url(./assets/img/2-2-923x1200.jpg);
        background-position: 55rem 8rem;
        background-size: 33%;
        background-repeat: no-repeat;
    }
    
    .section_two_writeup {
    
        max-width: 40%;
        padding-top: 15rem;
        padding-left: 5rem;
    }
    
    .section_two_writeup>p {
        font-weight: 300;
        font-size: 1rem;
    }
    .partners_section0{
        max-width: 50%;
        margin: 0 auto;
    }

    .partners_section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 90%;
        margin: 0 auto;
    }

}

