body{
overflow-x: hidden;
}
h1 {
    color:#ff490d;
    text-align: center;
    padding-top: 10rem;
 
}
.bg-default-color{
    background-color: #ff490d;
}
.default-color{
    color:#ff490d;
}
.cusbtn1 {
    background-color: #ff490d;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
     
}
.navalign{
    text-align: center;
}
.herotext-sm{
    padding-top: 20rem;
    font-size: 40px;
}

.herotext-md{
    padding-top: 18rem;
    margin-right: -10.5rem;
    text-align: center;
 }
 .imgline{
  margin-top: 18rem;
  margin-left: -20rem;
 
 }
.navbar-toggler-icon{
    background-image: none;
}
.navbar-toggler-icon::before{
    font-family: FontAwesome;
    content: "\f0c9";
}

.bgimage {
    width:100%;
    height:500px;
    background-repeat: no-repeat;
    background-position: left;
    background-size:cover;
   
  }
  .hover-effect:hover {
    opacity: 0.5;
    text-decoration: underline  #ff490d;
    
  }
  .btnhover-effect:hover {
    opacity: 0.5;
    background-color: #ae401c;
    
  }
  .active{
    text-decoration: underline solid  #ff490d;
  }
  .focus-effect:focus {
    padding: 5px;
    background-color:#ae401c;
    box-shadow: #ae401c;
  }
.weserve{
    background-repeat: no-repeat;
   

   
}
